.george{
    display: flex  ;
    justify-content: center;
    align-items: center;
}
.input{
    
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 30vh;
    width: 32%;
    background-color: rgb(24, 95, 95);
    display: flex;
    flex-direction: column;
}
#Btcalcular{
    width: 100px;
    display: center;
    background-color: aquamarine;
    margin: 5px 0px;
    height: 25px;

}
#resultado1{
    background-color: rgb(245, 207, 150);
    width: 350px;
    padding: 5px;
    margin: 5px 0;
}
#resultado2{
    background-color: rgb(245, 207, 150);
    width: 350px;
    padding: 5px;
    margin: 5px 0;
}
#vA{
    width: 200px;
    margin: 4px 0;
}
#vB{
    width: 200px;
    margin: 4px 0;
}
#vC{
    width: 200px;
    margin: 4px 0;
}












